dist/
dev/
*.pyc
.vscode/
/.idea/SaprotHub.iml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/jupyter-settings.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
